/* Footer Main Styles */
.footer-main {
  background-color: rgba(35, 35, 35, 0.8);
  position: relative;
  width: 100%;
  height: 100%;
  bottom: 0;
  text-align: center;
}

/* Footer Content */
.footer-content {
  padding: 0.75rem;
  color: #3b82f6; /* Blue color */
}

/* Footer Title */
.footer-title {
  color: white;
  display: inline;
  margin: 0;
  margin-left: 0.25rem;
}
